version: "3.9"

services:
  postgres:
    image: postgres:17
    container_name: db
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: duckcoin
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    command: ["postgres", "-c", "log_statement=all", "-c", "log_line_prefix='%m [%p] user=%u db=%d '", "-c", "log_min_duration_statement=0", "-c", "shared_preload_libraries=auto_explain", "-c", "auto_explain.log_min_duration=100", "-c", "auto_explain.log_analyze=on", "-c", "auto_explain.log_buffers=off"]

    depends_on:
      - redis

  redis:
    image: redis:7
    container_name: redis
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redisdata:/data

volumes:
  pgdata:
  redisdata:
