fastapi>=0.128.0
uvicorn[standard]>=0.40.0
pydantic>=2.12.0
pydantic-settings>=2.12.0
python-dotenv>=1.2.0
solana>=0.36.0
solders>=0.27.0
base58>=2.1.0
httpx>=0.28.0

# Tortoise ORM (async)
tortoise-orm[asyncpg]>=0.25.0
aerich>=0.9.0
